.s-hero {
  width: 100%;
  height: 80.4rem;
  background: linear-gradient(114deg, #1a0078 -25.6%, #6f47ff 121.77%);
  padding-top: 18rem;
  overflow-x: hidden;
  .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .left {
    flex: 1;
    max-width: 66.1rem;
    h3 {
      color: rgba(255, 255, 255, 0.56);
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.5px;
      margin-bottom: 3.2rem;
    }
    h1 {
      color: var(--GRAY-100);
      font-size: 6.4rem;
      font-weight: 600;
      line-height: 115%;
      margin-bottom: 3.2rem;
    }
    .btn {
      display: inline-block;
      padding: 1.2rem 2.4rem;
      background: var(--YELLOW);
      border-radius: 10rem;
      font-size: 1.6rem;
      color: var(--BROWN);
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 6.4rem;
      transition: opacity 0.2s ease;
      &:hover {
        opacity: 0.8;
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 6.2rem;
      li {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        span {
          color: var(--WHITE);
          font-size: 1.6rem;
          line-height: 120%;
        }
      }
    }
  }
  .right {
    flex: 1;
    max-width: 60.8rem;
    text-align: center;
    margin-right: -9.7rem;
    h2 {
      color: rgba(255, 255, 255, 0.48);
      font-size: 4.8rem;
      font-weight: 600;
      opacity: 0.4;
      line-height: 100%;
      letter-spacing: -2px;
      margin-bottom: 6.3rem;
    }
    .cards {
      width: 100%;
      height: 44.2rem;
      position: relative;
      .item {
        position: absolute;
        &.card-one {
          z-index: 2;
          top: 0;
          left: 0;
        }
        &.card-two {
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

.s-boost {
  padding: 11.2rem 0 6.7rem;
  .container {
    display: flex;
    align-items: flex-start;
  }
  .left {
    flex: 1;
    max-width: 27rem;
    .mockup {
      width: 100%;
      height: 56.5rem;
      img {
        max-width: initial;
        position: relative;
        top: -3.9rem;
        left: -4.9rem;
      }
    }
  }
}
